{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Edit Hotel</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Edit Hotel</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <!-- Form row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Input Hotel Information</h4>
                            <form method="post" action="{% url 'dashboard_hotel_edit' hotel.id %}"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Hotel Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="name"
                                            placeholder="Ex: Hotel Place" value="{{hotel.name}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Hotel Rate <span
                                                class="text-danger">*</span></label>
                                        <select name="rate" class="form-control">
                                            <option value="1">1 Start</option>
                                            <option value="2">2 Start</option>
                                            <option value="3">3 Start</option>
                                            <option value="4">4 Start</option>
                                            <option value="5">5 Start</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Details About Hotel</label>
                                        <textarea class="form-control" name="details" id="example-textarea" rows="2"
                                            placeholder="Hotel Details" value="{{hotel.details}}"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Hotel Logo</label>
                                        <input type="file" id="example-fileinput" name="logo" class="form-control-file">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Thumbnails</label>
                                        <input type="file" id="example-fileinput" name="thumbnails"
                                            class="form-control-file">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Contact Number <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="mobile" placeholder="Ex: +880"
                                            required value="{{hotel.mobile}}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Email Address <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="mail"
                                            placeholder="Ex: name@example.com" value="{{hotel.mail}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Hotel Address <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="address"
                                            placeholder="Ex: Mirpur 10" value="{{hotel.address}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Owner <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="owner"
                                            placeholder="Ex: Sajid Ahmed" value="{{hotel.owner}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Website <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="website"
                                            placeholder="Ex: www.google.com" value="{{hotel.website}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Promo Video Link</label>
                                        <input type="text" class="form-control" name="promo_video"
                                            placeholder="Ex: www.youtube.com" value="{{hotel.promo_video}}" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Check Out</label>
                                        <input class="form-control" id="example-time" value="{{hotel.time}}" type="time"
                                            name="checkout">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Minimum Stay</label>
                                        <input class="form-control" id="example-time" type="number"
                                            value="{{hotel.min_stay}}" name="min_stay" value="1">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label">Book Before number of day</label>
                                        <input class="form-control" type="number" name="min_booking_number"
                                            value="{{hotel.min_booking_number}}" value="1">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                            </form>
                        </div>
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->

</div> <!-- content -->


{% endblock %}